<p class="lead">Hi, I'm Maggie!</p>
<p>I'm a second year student at Northeastern University pursuing a Bachelors of Science in Computer Science. While I
  began my Freshman year as a Data Science and Biology major, I found the most enjoyment in my CS classes and ultimately
  switched majors. After working on a club project during the Fall 2022 semester I've come to find that I really enjoy
  front-end development, and have recently shifted the focus of my independent learning to popular front-end tools.</p>
