<div class="container min-vh-100">
  <br>
  <div class="row justify-content-center">
    <div class="col-6">
      <h6>Hi, I'm Maggie!</h6>
      <p>I'm a second year student at Northeastern University pursuing a BS in Computer Science. While I began my Freshman
        year as a Data Science and Biology major, I found the most enjoyment in my CS classes and ultimately switched majors.
        After working on a club project during the Fall 2022 semester I've come to find that I really enjoy front-end
        development, and have recently shifted the focus of my independent learning to popular front-end tools. I am
        currently in search of a Fall 2023 Internship/Co-Op position that will give me the opportunity to continue expanding
        my academic horizons in a professional work environment.</p>
    </div>
  </div>
</div>
