<div class="container min-vh-100">
  <br>
  <h1 class="text-primary">Marble Solitaire Game</h1>
  <p>
    Provide an extended description here...
  </p>

  <h1 class="text-primary">
    Project Screenshots
  </h1>
  <br>
  <div class="row justify-content-center">
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Default English Solitaire Game:</strong></h5>
        <img class="card-img" src="assets/MARBLE-ENG1.png" alt="Something went wrong!">
      </div>
    </div>
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Example Custom English Solitaire Game:</strong></h5>
        <img class="card-img" src="assets/MARBLE-ENG2.png" alt="Something went wrong!">
      </div>
    </div>
  </div>
  <br>

  <div class="row justify-content-center">
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Default European Solitaire Game:</strong></h5>
        <img class="card-img" src="assets/MARBLE-EUR1.png" alt="Something went wrong!">
      </div>
    </div>
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Example Custom European Solitaire Game:</strong></h5>
        <img class="card-img" src="assets/MARBLE-EUR2.png" alt="Something went wrong!">
      </div>
    </div>
  </div>
  <br>

  <div class="row justify-content-center">
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Default Triangle Solitaire Game:</strong></h5>
        <img class="card-img" src="assets/MARBLE-TRI1.png" alt="Something went wrong!">
      </div>
    </div>
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Example Custom Triangle Solitaire Game:</strong></h5>
        <img class="card-img" src="assets/MARBLE-TRI2.png" alt="Something went wrong!">
      </div>
    </div>
  </div>
  <br>


  <h1 class="text-primary">
    Skills
  </h1>
  <br>
  <div class="row justify-content-evenly text-info">
    <div class="col">
      <h4>
        <i class="bi bi-filetype-java"></i>
        Java
      </h4>
    </div>
  </div>
  <br>
</div>

