<div class="container">
  <br>
  <div class="row justify-content-center">
    <!-- Angular Widgets -->
    <div class="col">
      <a class="text-dark" href="angular-widgets">
        <div class="card">
          <p class="card-header">Angular Widgets- In Progress</p>
          <img class="card-img" src="assets/ANGULAR-WIDGETS-SS2.png">
          <p class="card-body">Provide a project explanation here</p>
        </div>
      </a>
    </div>
    <!-- HowBusyIsMarino.com -->
    <div class="col">
      <a class="text-dark" href="oasis-project-fall2022">
        <div class="card">
          <p class="card-header">HowBusyIsMarino.com</p>
          <img class="card-img" src="assets/OASIS-SS2.jpg">
          <p class="card-body">Provide a project explanation here</p>
        </div>
      </a>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <!-- Image Manipulation and Enhancement -->
    <div class="col">
      <a class="text-dark" href="ood-ime">
        <div class="card">
          <p class="card-header">CS3500 Image Manipulation and Enhancement</p>
          <img class="card-img" src="assets/OOD-IME-SS1.png">
          <p class="card-body">Provide a project explanation here</p>
        </div>
      </a>
    </div>
    <!-- Marble Solitaire Game -->
    <div class="col">
      <a class="text-dark" href="ood-marble-solitaire">
        <div class="card">
          <p class="card-header">CS3500 Marble Solitaire Game</p>
          <img class="card-img" src="assets/OOD-MARBLE-SOLITAIRE-SS1.png">
          <p class="card-body">Provide a project explanation here</p>
        </div>
      </a>
    </div>
  </div>
  <br>
</div>
