<div class="container min-vh-100">
    <div class="row justify-content-center">
      <ng-container *ngFor="let project of projects.projects;">
        <div class="col-6" *ngIf="project.name && project.image && project.description">
          <div class="card shadow m-4">
            <h4 class="card-header text-info"><strong>{{project.name}}</strong></h4>
            <img alt="Something went wrong!" class="card-img" src={{project.image}}>
            <div class="container card-body text-center">
              <p class="text-dark text-start">{{project.description}}</p>
              <ng-container *ngIf="project.buttons">
                <div class="row justify-content-evenly">
                  <ng-container *ngFor="let button of project.buttons">
                    <div class="col-3">
                      <a href="{{button.href}}" target="{{button.target}}">
                        <button *ngIf="!button.icon" class="btn btn-outline-info my-4"
                                type="button">{{button.text}}</button>
                        <button *ngIf="button.icon" class="btn btn-outline-info my-4" type="button">{{button.text}} <i
                          class={{button.icon}}></i></button>
                      </a>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
            <ng-container *ngIf="project.footer.href">
              <span class="card-footer text-center">
                <a class="text-decoration-none link-info" href="{{project.footer.href}}" rel="noreferrer noopener" target="{{project.footer.target}}">
                  <i class={{project.footer.icon}}></i>
                  {{project.footer.text}}
               </a>
              </span>
            </ng-container>
            <ng-container *ngIf="!project.footer.href">
              <span class="card-footer text-center text-info">{{project.footer.text}}</span>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
</div>
