<div class="container min-vh-100">
  <br>
  <div class="row justify-content-center">
    <!-- Angular Widgets -->
    <div class="col">
        <div class="card shadow">
          <h4 class="card-header text-info"><strong>Angular Widgets</strong></h4>
          <img class="card-img" src="assets/ANGULAR-WIDGETS-SS2.png">
          <div class="container card-body text-center">
            <p class="text-dark text-start">
              My first AngularJS project, started in December 2022 and still in progress. The objective of this project
              is to teach myself the basics of Angular Components, Interpolation, Services, Pipes, Structural Directives,
              and more.
            </p>
            <br>
            <div class="row justify-content-evenly">
              <div class="col-3">
                <a href="angular-widgets">
                  <button type="button" class="btn btn-outline-info">See More</button>
                </a>
              </div>
              <div class="col-3">
                <a href="https://maggiecollette.github.io/Angular-Widgets/" target="_blank" rel="noreferrer noopener">
                  <button type="button" class="btn btn-outline-info">Visit Site</button>
                </a>
              </div>
            </div>
          </div>
          <br>
          <span class="card-footer text-center">
            <a class="text-decoration-none link-info" href="https://github.com/maggiecollette/Angular-Widgets">
              <i class="bi bi-github"></i>
              GitHub
            </a>

          </span>
        </div>
    </div>
    <!-- HowBusyIsMarino.com -->
    <div class="col">
        <div class="card shadow">
          <h4 class="card-header text-info"><strong>HowBusyIsMarino.com</strong></h4>
          <img class="card-img" src="assets/OASIS-SS2.jpg">
          <div class="container card-body text-center">
            <p class="text-dark text-start">
              A web app conceptualized with group members in Northeastern Oasis during the Fall 2022 semester. Our
              objective was to gain experience in the web development process while providing a valuable product to
              other Northeastern students.
            </p>
            <br>
            <a href="oasis-project-fall2022">
            <button type="button" class="btn btn-outline-info">See More</button>
            </a>
          </div>
          <br>
          <span class="card-footer text-center">
            <a class="text-decoration-none link-info" href="https://github.com/maggiecollette/Marino-Gym-Project">
              <i class="bi bi-github"></i>
              GitHub
            </a>
          </span>
        </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <!-- Image Manipulation and Enhancement -->
    <div class="col">
        <div class="card shadow">
          <h4 class="card-header text-info"><strong>CS3500 Image Manipulation and Enhancement</strong></h4>
          <img class="card-img" src="assets/OOD-IME-SS1.png">
          <div class="container card-body text-center">
            <p class="text-dark text-start">
              Developed in Java for CS3500, Object Oriented Design, during the Fall 2022 semester. Using Java Swing, this
              project's View exists in both GUI and text-view forms.
            </p>
            <br>
            <a href="ood-ime">
            <button type="button" class="btn btn-outline-info">See More</button>
            </a>
          </div>
          <br>
          <span class="card-footer text-center text-info">Code available upon request.</span>
        </div>
    </div>
    <!-- Marble Solitaire Game -->
    <div class="col">
        <div class="card shadow">
          <h4 class="card-header text-info"><strong>CS3500 Marble Solitaire Game</strong></h4>
          <img class="card-img" src="assets/OOD-MARBLE-SOLITAIRE-SS1.png">
          <div class="container card-body text-center">
            <p class="text-dark text-start">
              Developed in Java for CS3500, Object Oriented Design, during the Fall 2022 semester. The main goal of this
              project was to teach the proper implementation of the Model, Controller, View design pattern.
            </p>
            <br>
              <a href="ood-marble-solitaire">
                <button type="button" class="btn btn-outline-info">See More</button>
              </a>
          </div>
          <br>
          <span class="card-footer text-center text-info">Code available upon request.</span>
        </div>
    </div>
  </div>
  <br>
</div>
