<body class="d-flex flex-column min-vh-100">
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-primary bg-primary shadow">
  <div class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand nav-link text-light" href=""><h4><strong>Maggie Collette</strong></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href='projects'>
          Projects
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer bg-primary">
  <div class="flex-center text-white text-lg-center">
    <!--Github-->
    <a class="m-2 link-light text-decoration-none" href="https://github.com/maggiecollette/Personal-Site" target="_blank" rel="noreferrer noopener">
      <i class="bi bi-github"></i>
      GitHub
    </a>
  </div>
</footer>
</body>
