<body class="d-flex flex-column min-vh-100">
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="" class="navbar-brand nav-link mx-2 display-5">Maggie Collette</a>
  <a href="about-me" class="m-2 nav-link text-light display-6">About Me</a>
  <a href="resume" class="m-2 nav-link text-light display-6">Resume</a>
  <a href="projects" class="m-2 nav-link text-light display-6">Projects</a>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer bg-dark">
  <div class="flex-center text-white text-lg-center">
    <!--Github-->
    <a href="https://github.com/maggiecollette/Personal-Site" class="m-2 link-light">
      <i class="bi bi-github"></i>
    </a>
    <!--Linkedin -->
    <a href="https://www.linkedin.com/in/marguerite-collette" class="m-2 link-light">
      <i class="bi bi-linkedin"></i>
    </a>
  </div>
</footer>
</body>
