<body class="d-flex flex-column min-vh-100">
  <header class="overlay-header w-100 text-white py-3 px-4">
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand fs-4" href="#">MAGGIE COLLETTE</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mainNavbar"
          aria-controls="mainNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="mainNavbar"
        >
          <ul class="navbar-nav ms-auto text-end">
            <li class="nav-item">
              <a class="nav-link text-white" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="resume">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="photography">Photography</a>
            </li>
            <li class="nav-item">
              <a
                class="btn btn-light rounded-pill text-dark"
                href="mailto:collette.m@northeastern.edu"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>
</body>
