<div
  class="d-flex min-vh-100 p-5 dark-bg justify-content-center align-items-start"
>
  <div class="resume-frame position-relative shadow-lg">
    <img
      src="assets/resume/Marguerite_Collette_Resume.jpg"
      alt="My Resume"
      class="resume-image"
    />

    <a
      href="assets/resume/Marguerite_Collette_Resume.pdf"
      download="Marguerite_Collette_Resume.pdf"
      class="download-sticker"
      aria-label="Download Resume"
      title="Download Resume"
    >
      <i class="bi bi-download"></i> Download
    </a>
    <div class="extra-tape top-left"></div>
    <div class="extra-tape bottom-right"></div>
  </div>
</div>
