<div class="container">
  <br>
  <div class="row justify-content-start">
    <div class="col-4">
      <!-- <a href="assets/Marguerite-Collette-Resume.pdf" target="_blank"> opens file in new tab, which is better? -->
      <a download href="assets/Marguerite-Collette-Resume.pdf">
        <button class="btn btn-dark">
          Download
        </button>
      </a>
    </div>
    <div class="col-4">
      <p class="text-center"><strong>Marguerite Collette</strong></p>
      <p class="text-center">Boston, MA • collette.m@northeastern.edu</p>
    </div>
  </div>
  <hr>

  <p class="text-center"><strong>Education</strong></p>
  <div class="row justify-content-between">
    <div class="col-3 text-start">
      <p><strong>NORTHEASTERN UNIVERSITY</strong></p>
    </div>
    <div class="col-2 text-end">
      <p>Boston, MA</p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-3 text-start">
      <p>B.S. Computer Science</p>
    </div>
    <div class="col-2 text-end">
      <p>April 2025</p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-3 text-start">
      <p><strong>STUDY ABROAD</strong></p>
    </div>
    <div class="col-2 text-end">
      <p>Dublin, Ireland</p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-5 text-start">
      <p>Study abroad coursework completed at University College Dublin</p>
    </div>
    <div class="col-3 text-end">
      <p>September 2021 - December 2021</p>
    </div>
  </div>

  <p class="text-center"><strong>Experience</strong></p>
  <div class="row justify-content-between">
    <div class="col-3 text-start">
      <p><strong>NORTHEASTERN UNIVERSITY</strong></p>
    </div>
    <div class="col-2 text-end">
      <p>Boston, MA</p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-3 text-start">
      <p><strong>Teaching Assistant</strong></p>
    </div>
    <div class="col-2 text-end">
      <p>May 2022 - Present</p>
    </div>
  </div>
  <ul>
    <li>Reinforced CS2510 students’ understanding of foundational concepts of writing and debugging programs in Java
      during twice-weekly office hours.
    </li>
    <li>Directed CS2510 students through instructor assigned lab problems using worked out examples during two-hour lab
      sessions each week.
    </li>
    <li>Assisted CS2500 students in learning how to design programs in Racket during twice-weekly office hours.</li>
    <li>Grading an average of 20 assignments and exams weekly, based on style, functionality, and efficiency.</li>
  </ul>

  <div class="row justify-content-between">
    <div class="col-3 text-start">
      <p><strong>NORTHEASTERN OASIS</strong></p>
    </div>
    <div class="col-2 text-end">
      <p>Boston, MA</p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-3 text-start">
      <p><strong>Club Member</strong></p>
    </div>
    <div class="col-3 text-end">
      <p>September 2022 - December 2022</p>
    </div>
  </div>
  <ul>
    <li>Conceptualized a web project that provides a means to determine the optimal time to attend Northeastern
      University gyms based on historical capacity levels.
    </li>
    <li>Gained experience in gathering data with automated web scraping and storage utilizing Python, Beautiful Soup,
      AWS, and Crontab.
    </li>
    <li>Self-taught the basics of JavaScript, HTML, CSS, and Bootstrap for front-end development.</li>
  </ul>

  <div class="row justify-content-between">
    <div class="col-3 text-start">
      <p><strong>GRADY & RILEY ATTORNEYS AT LAW</strong></p>
    </div>
    <div class="col-2 text-end">
      <p>Waterbury, CT</p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-3 text-start">
      <p><strong>Office Assistant</strong></p>
    </div>
    <div class="col-2 text-end">
      <p>May 2022 - Present</p>
    </div>
  </div>
  <ul>
    <li>Enhancing office flow by streamlining the digitizing of hundreds of client files throughout the firm in a
      comprehensive and accessible manner, such that ongoing cases can be added.
    </li>
    <li>Greatly reducing the volume of nonessential documents across both the Waterbury and Woodbury, CT offices, making
      way for new client files.
    </li>
    <li>Performing various tasks on an as-needed basis, including but not limited to serving as a witness for document
      signings, locating misplaced files, and reviewing time sheets.
    </li>
  </ul>

  <div class="row justify-content-between">
    <div class="col-4 text-start">
      <p><strong>TOWN OF MIDDLEBURY PARKS & RECREATION</strong></p>
    </div>
    <div class="col-2 text-end">
      <p>Middlebury, CT</p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-3 text-start">
      <p><strong>Lifeguard</strong></p>
    </div>
    <div class="col-2 text-end">
      <p>June 2018 - Present</p>
    </div>
  </div>
  <ul>
    <li>Monitoring swimmers at a town lakefront on a rotating schedule with fellow lifeguards.</li>
    <li>Performing minor saves and first aid as needed using skills from CPR/AED/First Aid certifications.</li>
    <li>Assisting with moving boats, maintaining a sanitary beach and picnic area, patron questions, as well as opening
      and closing the beach area each day.
    </li>
  </ul>

  <div class="row justify-content-between">
    <div class="col-3 text-start">
      <p><strong>RACE4CHASE TRIATHLON PROGRAM</strong></p>
    </div>
    <div class="col-2 text-end">
      <p>Waterbury, CT</p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-3 text-start">
      <p><strong>Coach</strong></p>
    </div>
    <div class="col-2 text-end">
      <p>June 2018 - August 2021</p>
    </div>
  </div>
  <ul>
    <li>Prepared inner-city children ages 6-12 for completing a triathlon at the end of each summer by teaching them to
      swim, bike, and run.
    </li>
    <li>Developed unique and engaging daily training plans to promote enjoyable movement.</li>
    <li>Maintained a safe and welcoming summer camp environment and served as a positive role model for all athletes in
      the program.
    </li>
  </ul>

  <p class="text-center"><strong>Skills</strong></p>
  <ul>
    <li>Front End: JavaScript, TypeScript, HTML, CSS, Bootstrap, AngularJS, Node.js, Express.js, Plotly.js</li>
    <li>Back End: Java, Python, C, AWS, BeautifulSoup, Crontab</li>
    <li>Other: Object Oriented Programming, Racket, GitHub, Cybersecurity, Algorithms</li>
  </ul>
</div>
