<div class="container min-vh-100">
  <br>
    <h1 class="text-primary">Image Manipulation and Enhancement</h1>
  <p>
    Provide an extended description here...
  </p>

  <h1 class="text-primary">
    Project Screenshots
  </h1>
  <br>
  <div class="row justify-content-center">
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Loaded Image:</strong></h5>
        <img class="card-img" src="assets/IME-SS1.png" alt="Something went wrong!">
      </div>
    </div>
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Downscaled Image:</strong></h5>
        <img class="card-img" src="assets/IME-SS2.png" alt="Something went wrong!">
      </div>
    </div>
  </div>
  <br>

  <div class="row justify-content-center">
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Mosaic Filtered Image:</strong></h5>
        <img class="card-img" src="assets/IME-SS3.png" alt="Something went wrong!">
      </div>
    </div>
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Greyscale Filtered Image:</strong></h5>
        <img class="card-img" src="assets/IME-SS4.png" alt="Something went wrong!">
      </div>
    </div>
  </div>
  <br>

  <div class="row justify-content-center">
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Sepia Filtered Image:</strong></h5>
        <img class="card-img" src="assets/IME-SS5.png" alt="Something went wrong!">
      </div>
    </div>
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Blur Filtered Image:</strong></h5>
        <img class="card-img" src="assets/IME-SS6.png" alt="Something went wrong!">
      </div>
    </div>
  </div>
  <br>

  <div class="row justify-content-center">
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Sharpen Filtered Image:</strong></h5>
        <img class="card-img" src="assets/IME-SS7.png" alt="Something went wrong!">
      </div>
    </div>
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Vertically Flipped Image:</strong></h5>
        <img class="card-img" src="assets/IME-SS8.png" alt="Something went wrong!">
      </div>
    </div>
  </div>
  <br>

  <div class="row justify-content-center">
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Horizontally Flipped Image:</strong></h5>
        <img class="card-img" src="assets/IME-SS9.png" alt="Something went wrong!">
      </div>
    </div>
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>Example Filter Preview:</strong></h5>
        <img class="card-img" src="assets/IME-SS11.png" alt="Something went wrong!">
      </div>
    </div>
  </div>
  <br>


  <h1 class="text-primary">
    Skills
  </h1>
  <br>
  <div class="row justify-content-evenly text-info">
    <div class="col">
      <h4>
        <i class="bi bi-filetype-java"></i>
        Java
      </h4>
    </div>
  </div>
</div>

