.bg-dark {
    background-color: #242424;
}

@font-face {
    font-family: 'HitMePunk';
    src: url('/assets/fonts/hit-me-punk.01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; }