<div class="home">
  <div class="title-section d-flex align-items-center justify-content-center">
    <h1 class="title">{{ title }}</h1>
  </div>

  <div class="about-section d-flex align-items-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-4 p-5">
          <h2 class="subtitle">ABOUT ME</h2>
          <p>{{ info }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="resume-projects-section">
    <div class="p-5">
      <h2 class="subtitle">RESUME & PROJECTS</h2>
    </div>
  </div>

  <div class="photography-section d-flex justify-content-end">
    <div class="p-5">
      <h2 class="subtitle">PHOTOGRAPHY</h2>
    </div>
  </div>
</div>
