.home {
    position: relative;
    height: 200vh;
    }

.title-section {
    background-image: url('/assets/concert.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.title {
    font-family: 'HitMePunk', sans-serif;
    font-size: 7rem;
    color: #eeeeee;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.subtitle {
    font-family: 'HitMePunk', sans-serif;
    font-size: 4rem;
    color: #eeeeee;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.about-section {
    background-image: url('/assets/porch-shadow.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.about-section p {
    color: #eeeeee;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    font-size: 1.25rem; }

.resume-projects-section {
    background-image: url('/assets/building.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.photography-section {
    background-image: url('/assets/street.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}