<div class="container min-vh-100">
  <br>
  <div class="d-flex flex-row">
    <h1 class="text-primary">Angular Widgets</h1>
    <a class="m-2 link-info text-decoration-none" href="https://github.com/maggiecollette/Angular-Widgets">
      <h4>
        <i class="bi bi-github"></i>
        GitHub
      </h4>
    </a>
  </div>
  <p>
    Provide an extended description here...
  </p>

  <h1 class="text-primary">
    Project Screenshots
  </h1>
  <br>
  <div class="row justify-content-center">
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>The Current Weather Component's Empty State:</strong></h5>
        <img class="card-img" src="assets/ANGULAR-WIDGETS-SS3.png" alt="Something went wrong!">
      </div>
    </div>
    <div class="col">
      <div class="card shadow">
        <h5 class="card-header text-info"><strong>The Current Weather Component After a Search:</strong></h5>
        <img class="card-img" src="assets/ANGULAR-WIDGETS-SS1.png" alt="Something went wrong!">
      </div>
    </div>
  </div>
  <br>

  <h1 class="text-primary">
    Skills
  </h1>
  <br>
  <div class="row justify-content-evenly text-info">
    <div class="col">
      <h4>
        <i class="bi bi-filetype-tsx"></i>
        TypeScript
      </h4>
    </div>
    <div class="col">
      <h4>
        <i class="bi bi-filetype-html"></i>
        HTML
      </h4>
    </div>
    <div class="col">
      <h4>
        <i class="bi bi-filetype-css"></i>
        CSS
      </h4>
    </div>
    <div class="col">
      <h4>
        <i class="bi bi-filetype-json"></i>
        JSON
      </h4>
    </div>
    <div class="col">
      <h4>
        <i class="bi bi-bootstrap"></i>
        Bootstrap
      </h4>
    </div>
    <div class="col">
      <h4>
        <i class="bi bi-window"></i>
        AngularJS
      </h4>
    </div>
    <div class="col">
      <h4>
        <i class="bi bi-diagram-2"></i>
        Node.js
      </h4>
    </div>
  </div>
  <br>
</div>
